In [25]:
import sqlite3

In [26]:
# top_cities.db 파일을 열고 연결을 변수에 저장
conn = sqlite3.connect('top_cities.db')

In [27]:
# 커서를 추출ㄴ
c = conn.cursor()

In [28]:
# execute() 메서드로 SQL 구문을 실행
# 스크립트를 여러 번 사용해도 같은 결과를 출력할 수 있게 cities 테이블이 존재하는 경우 제거
c.execute('DROP TABLE IF EXISTS cities')

In [29]:
# cities 테이블을 생성
c.execute('''
    CREATE TABLE cities (
        rank integer,
        city text,
        population integer
    )
''')

In [30]:
# execute() 메서드의 두 번째 매개변수에는 파라미터를 지정
# SQL 내부에서 파라미터로 변경할 부분(플레이스홀더)은 ?로 지정
c.execute('INSERT INTO cities VALUES (?, ?, ?)', (1, '상하이', 24150000))

In [31]:
# 파라미터가 딕셔너리일 때는 플레이스홀더를 :<이름> 형태로 지정
c.execute('INSERT INTO cities VALUES (:rank, :city, :population)',
          {'rank': 2, 'city': '카라치', 'population': 23500000})

In [32]:
# executemany() 메서드를 사용하면 여러 개의 파라미터를 리스트로 지정해서
# 여러 개(현재 예제에서는 3개)의 SQL 구문 실행 가능
c.executemany('INSERT INTO cities VALUES (:rank, :city, :population)', [
    {'rank': 3, 'city': '베이징', 'population': 21516000},
    {'rank': 4, 'city': '텐진', 'population': 14722100},
    {'rank': 5, 'city': '이스탄불', 'population': 14160467},
])

In [33]:
# 변경사항을 커밋(저장)
conn.commit()

In [34]:
# 저장한 데이터를 추출
c.execute('SELECT * FROM cities')
# 쿼리의 결과는 fetchall() 메서드로 추출 가능
for row in c.fetchall():
    # 추출한 데이터를 출력
    print(row)

(1, '상하이', 24150000)
(2, '카라치', 23500000)
(3, '베이징', 21516000)
(4, '텐진', 14722100)
(5, '이스탄불', 14160467)

In [35]:
# DB Connection 종료
conn.close()