In [6]:
import cx_Oracle
import pandas as pd
import os

In [7]:
user = 'USER'
pwd = '패스워드'
server = 'DB서버'
port = '포트'
sid = 'SID'

In [8]:
with cx_Oracle.connect('{}/{}@{}:{}/{}'.format(user, pwd, server, port, sid)) as con:
    try:
        고객정보.to_sql(name = 'CUST_INFO', con = con, index = False, if_exists='fail') 
        #if_exists : {'fail', 'replace', 'append'} fefault : fail
    except Exception as e:
        print(str(e))
    
    query = 'SELECT * FROM CUST_INFO'
    데이터프레임1 = pd.read_sql(query, con = con)
    
    query = 'SELECT * FROM CUST_INFO where 고객번호 = "C001"'
    데이터프레임2 = pd.read_sql(query, con = con)

In [ ]:
데이터프레임1

In [ ]:
데이터프레임2