In [ ]:
# 파이썬 기초 01

---

###  Indentation

- 들여쓰기는 함수 몸체, 조건문 루프, 클래스 등 다양한 코드 블록을 표현
- 들여쓰기로 탭을 사용할 수 있지만 권장하지 않으며, 스페이스를 이용하여 보통 4칸을 권장

a = True
if a:
    print("True")    
else:
    print("False")

### Code Block  콜론(:)

* 코드 블록의 시작은 콜론(:)
* 들여쓰기를 기준으로 들여쓰기가 없는 곳이 코드 블록의 끝

In [75]:
a = True
if a:
    print("True")
    print("and ...")
else:
    print("False")

True
and ...

```java
// Java
boolean a = true;
if(a){
    System.out.println("True");
}else{
    System.out.println("False");
}    
```

### 파이썬 연산자

##### 더하기

In [1]:
2 + 4

6

##### 빼기

In [2]:
4 - 2

2

##### 곱하기

In [3]:
2 * 4

8

##### 나누기

In [4]:
4 / 2

2.0

##### 제곱

In [5]:
4 ** 2

16

##### 몫

In [7]:
7 / 2

3.5

In [8]:
7 // 2

3

##### 나머지

In [91]:
7 % 2

1

---

### 파이썬 주석문

In [67]:
# 파이썬 주석문

In [69]:
# ctrl + ?
# 파이썬 
# 주석문

---

### 파이썬 숫자

- 정수: 1, -1, 0 등등
- 실수 : 1.1, -1.1, 1.23E5, 1.23e5 등등

---

### Python 변수

In [11]:
a = 10

In [12]:
a

10

In [13]:
한글변수 = 10

In [14]:
한글변수

10

In [15]:
a = b = 10

In [16]:
a

10

In [17]:
b

10

In [18]:
a, b = 2, 4

In [19]:
a

2

In [20]:
b

4

In [21]:
a, b = b, a

In [22]:
a

4

In [23]:
b

2

---

### 파이썬 동적 타입

In [78]:
price = 1000
rate = 0.05
num_years = 5

In [79]:
type(rate)

float

In [80]:
type(price)

int

In [81]:
price = price * (1+rate)
price

1050.0

In [82]:
type(price)

float

### 파이썬 객체

In [83]:
type("a")

str

In [84]:
type(1)

int

In [85]:
str = "hello"

In [86]:
_

int

---

### 파이썬 문자열

In [24]:
a = '파이썬'

In [25]:
a

'파이썬'

In [26]:
b = "문자열"

In [27]:
c = """
하늘을 우러러 한 점
부끄럼 없기를
잎새에 이는 바람에도
나는 괴로워 했다
"""

In [29]:
c

'\n하늘을 우러러 한 점\n부끄럼 없기를\n잎새에 이는 바람에도\n나는 괴로워 했다\n'

In [31]:
d = '파이썬' + '문자열'

In [32]:
d

'파이썬문자열'

In [5]:
e = '반복' * 5

In [6]:
e

'반복반복반복반복반복'

---

###  포맷팅

In [42]:
name, age, phone = '홍길동', 25, '010-111-2222'

In [43]:
소개 = "이름은 {} 이고, 나이는 {}세 이며, 전화번호는 {} 입니다. ".format(name, age, phone)

In [44]:
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [46]:
소개 = "이름은 {0} 이고, 나이는 {2}세 이며, 전화번호는 {1} 입니다. ".format(name, phone, age)

In [47]:
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [48]:
소개 = "이름은 {name} 이고, 나이는 {age}세 이며, 전화번호는 {phone} 입니다. ".format(phone = phone, name = name, age = age)

In [49]:
소개

'이름은 홍길동 이고, 나이는 25세 이며, 전화번호는 010-111-2222 입니다. '

In [87]:
month = 1
print("{:02d}월".format(month))

01월

In [88]:
val = 123456789
money = "{0:,}"
money.format(val)

'123,456,789'

In [90]:
'{}, {:f}, {:.1f}, {:.2f}, {:.2%}'.format(3, 3, 3, 3.1475, 1/3)

'3, 3.000000, 3.0, 3.15, 33.33%'

---

### 문자열 indexing & slicing

In [50]:
a = 'HelloWorld!'

In [51]:
a

'HelloWorld!'

In [52]:
a[0]

'H'

In [54]:
a[5]

'W'

In [55]:
a[-1]

'!'

In [56]:
a[-2]

'd'

In [60]:
a[:5] # a[0:5]

'Hello'

In [61]:
a[5:]

'World!'

In [92]:
숫자 = '1-2-3-4-5'
숫자[0::4]

'135'

In [93]:
숫자[::-1] #건너뛰는 값이 음수일 때는, 기본 시작점은 -1

'5-4-3-2-1'

In [94]:
숫자[::-2]

'54321'

---

### 문자열 함수

In [64]:
'-'.join('HelloWorldPython')

'H-e-l-l-o-W-o-r-l-d-P-y-t-h-o-n'

In [65]:
'-'.join(['Hello', 'World', 'Python'])

'Hello-World-Python'

In [95]:
text = '하나 둘 셋'
' '.join([text, '넷'])

'하나 둘 셋 넷'

In [66]:
'Hello, World, Python'.split(',')

['Hello', ' World', ' Python']

In [71]:
'서울시 마포구 상암동 1585'.split()

['서울시', '마포구', '상암동', '1585']

In [97]:
text = '\t 문자열 정리   '
text.strip()

'문자열 정리'

In [98]:
문자열 = '<[(알맹이)]>#$%^&*()'

import string
문자열.strip(string.punctuation)

'알맹이'

In [99]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [100]:
생일 = '2016/08/30'
생일.replace('/', '-')

'2016-08-30'

---

In [129]:
'Hello World Python'.startswith('Hello')

True

In [130]:
'Hello World Python'.startswith('Python')

False

In [104]:
'Python' in 'Hello World Python' # 'Java' in 'Hello World Python'

True

In [121]:
'Python' not in 'Hello World Python' # 'Java' not in 'Hello World Python'

False

In [108]:
text = 'Hello World Python'
text.count('o')

3

In [112]:
text = 'Hello World Python, Welcome to Python World'
text.count('o') # text.count('Python')

7

In [124]:
text.index('o') # text.index('o', 5)

4

In [122]:
text.find('Python') # text.find('Python', 20)

20

In [118]:
'Hello World'.capitalize()

'Hello world'

In [119]:
'Hello World'.lower()

'hello world'

In [120]:
'Hello World'.upper()

'HELLO WORLD'

---

### 정규표현식(Regular Expression)

In [125]:
import re

In [126]:
text = """홍길동의 전화번호는 010-1234-5678입니다.
이메일은 hong@aa.com입니다.
성춘향의 전화번호는 010-456-7890입니다."""

In [127]:
전화번호_정규식='\\d{3}-\\d{3,4}-\\d{4}'
전화번호_패턴 = re.compile(전화번호_정규식)
전화번호_패턴.findall(text)

['010-1234-5678', '010-456-7890']

In [128]:
이메일_정규식 = '[0-9a-zA-Z]+[0-9a-zA-Z-_\.]*@[0-9a-zA-Z]+[0-9a-zA-Z-_\.]*\.[a-zA-Z]{2,3}'  
이메일_패턴 = re.compile(이메일_정규식)
이메일_패턴.findall(text)

['hong@aa.com']

---

### 조건문

In [133]:
a = 3
b = 2

In [135]:
if a > b:
    print('TRUE')

TRUE

In [131]:
if a < b:
    print("Yes")
    print("a")
else:
    print("No")
    print("b")

No
b

In [132]:
suffix = "htm"

if suffix == "htm":
    content = "text/html"
elif suffix == "jpg":
    content = "image/jpeg"
elif suffix == "png":
    content = "image/png"
else:
    raise RuntimeError("Unknown content type")
print(content)

text/html

---

### 반복문

In [2]:
answer1 = input("Enter password: ")
answer2 = input("Re-enter password: ")

while answer1 != answer2:
    print("does not match.")
    answer1 = input("Enter password: ")
    answer2 = input("Re-enter password: ")

Enter password: a
Re-enter password: a

In [8]:
for item in range(1, 10): # for item in range(1, 10, 2): 
    print(item)

1
2
3
4
5
6
7
8
9

In [9]:
for x in range(3):
    if x % 3 == 0:  # x 가 3의 배수일 경우
          print('a')
    elif x % 3 == 1:  # x 가 3으로 나눴을 경우 나머지가 1 일 때
          print('b')
    else:  # x 가 3으로 나눴을 경우 나머지가 2 일 때
          print('c')

a
b
c

In [10]:
s = "statement"
for i, x in enumerate(s):
    print(i, x)

0 s
1 t
2 a
3 t
4 e
5 m
6 e
7 n
8 t

In [1]:
a, b = 2, 4

In [2]:
a, b = b, a

In [4]:
print('a = {}, b = {}'.format(a, b))

a = 4, b = 2

In [10]:
num = list(range(1, 11))

In [15]:
num_list = [x * 2 for x in num if x % 2 == 1]

In [16]:
print(num_list)

[2, 6, 10, 14, 18]

In [19]:
num_list = []
for x in num: 
    if x % 2 == 1:
        num_list.append(x * 2)

In [20]:
num_list

[2, 6, 10, 14, 18]